@{
    ViewBag.Title = "About";
}
<div class="jumbotron" style="background-color:white; text-align:justify; margin-bottom:20px;">

    <h2><strong> Genomics Core Laboratory</strong></h2>
    <p>
        The Genomics Core Facility hosts Next Generation Sequecing platforms for basic and translational genomics research.
        Our core offers cutting edge technologies for advanced research to investigators and clinicians. We help our customers and users to prepare, extract and QC samples.
        We also help our users to identify the platforms that are best suitable for their research projects. Our cutting edge bioinformatics pipelines are designed to deliver high quality
        data to the users. We aso offer data analysis services to reveal complex mechanisms involved in human diseases to our users.

        <h4><strong> GCL capabilities include:</strong></h4>
        <ul>
            <li>DNA/RNA extraction from wide variety of biological material including limited quantity archived tissues.</li>
            <li>DNA library preparation for RNASeq, ChIPSeq, Agilent Exome Capture and Custom captures.</li>
            <li>DNA, RNA and library quality control and quality assessment for sequencing.</li>
            <li>Massively parallel sequencing with the Illumina HiSeq 4000, HiSeq 2500, and MiSeq.</li>
            <li>Nanostring platform for Gene Expression and miRNA expression analysis.</li>
            <li>Illumina BeadArray platform for Genotyping, gene expression profiling, and epigenetic studies.</li>
            <li>Real-time PCR.</li>

        </ul>
    </p>
</div>

<div class="jumbotron" style="background-color:white; text-align:justify; margin-bottom:20px;">

    <h2><strong> Project Submission</strong></h2>
    <p>
        Please use <u>Submit New Project</u> link on the navigation pane to submit a new project. Please note down your project number provided after you have submitted your project.
        Bring your samples and project number to our sample receiving team. Our sample receiving team would be more than happy to answer any questions you may have. You can also contact us at
        <strong>support@gcl.com</strong>
    </p>
</div>
