@{
    ViewBag.Title = "Contact";
}

<div class="form-wrapper" style="color:black; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:medium;">
    <h3>We are Located at:</h3>

    <address>
        One ABC Hospital and Research Center Way<br />
        0001 ABC St, NYTY 1234-1234<br />
        <abbr title="Phone">P:</abbr>
        100.100.2071
    </address>


    <h3>For Project related questions please email Support team</h3>
    <address>

        <strong>Project Support:</strong>   <a href="mailto:Support@example.com" style="color:white;">Support@gcl.com</a><br />
       
    </address>
    <h3>If you are having difficulties using the PIMS Application, please contact PIMS Admin.</h3>
    <address>

        <strong>PIMS Support:</strong> <a href="mailto:Limsadmin@example.com" style="color:white;">admin@pims.com</a>
    </address>
</div>