
@{
    ViewBag.Title = "PricingPage";
}



<div class="container">
    <h2 style="font-family:'Arial Rounded MT'; font:100; text-align:center">Service price per sample </h2>
    
    <table class="table table-bordered table-condensed">
        <thead class="thead-inverse" style="background-color:black; color:white;font-size:medium;">
            <tr>
                <th>Service</th>
                <th>Price per sample</th>
                <th>Turnaround time</th>
            </tr>
        </thead>
        <tbody style="background-color:#fef5e7; font-size:medium;">
            <tr class="info">
                <td>DNA Extraction</td>
                <td>$ 17.00</td>
                <td>3 weeks</td>
            </tr>
            <tr class="info">
                <td>RNA Extraction</td>
                <td>$ 24.00</td>
                <td>3 weeks</td>
            </tr>
            <tr class="info">
                <td>DNA Library Preparation</td>
                <td>$ 350.00</td>
                <td>3-4 weeks</td>
            </tr>
            <tr class="info">
                <td>Capture Library Preparation</td>
                <td>$ 620.00</td>
                <td>3-4 weeks</td>
            </tr>
            <tr class="info">
                <td>RNASeq Library Preparation</td>
                <td>$ 435.00</td>
                <td>3-4 weeks</td>
            </tr>
            <tr class="info">
                <td>Quality Control</td>
                <td>$ 11.00</td>
                <td>1 week</td>
            </tr>
            <tr class="info">
                <td>Sequencing</td>
                <td>$ 1675 per lane</td>
                <td>1-2 weeks</td>
            </tr>
            <tr class="info">
                <td>Data Analysis</td>
                <td>Please contact Bioinformatics core for pricing</td>
                <td>Variable</td>
            </tr>
        </tbody>
    </table>
</div>

